body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
header{
    background: url(../images/header-bg.png);
}
.navbar-brand img{
    width: 114px;
}

.navbar-nav .nav-menu-li a{
    text-decoration: none;
}
.navbar-toggler[aria-expanded="false"] span {
    display: block;
}

.navbar-toggler[aria-expanded="true"] span {
    display: none;
}

.navbar-toggler[aria-expanded="false"] i {
    display: none;
}

.navbar-toggler[aria-expanded="true"] i {
    display: block;
}
.f-23{
    font-size: 23px;
}
.mob-nav-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
    pointer-events: none;
}
.collapsee{
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: scroll;
    background: rgba(28, 93, 197, 1);
    font-size: 20px;
    width: 85%;
    height: 100%;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    
}
.collapsee.show{
    left: 0;
    transition: all 0.5s ease-in-out;
}
.nav-link{
    font-weight: 600;
}
.nav-link i{
    float: right;
}
.nav-link i:hover{
    transform: rotate(180deg);
}
.sub-menu li{
    list-style: none;
}
.news:hover .sub-menu li{
    display:block;
}
.banner-bg img{
    position: relative;
}
.banner-content-box{
    position: absolute;
    top: 161px;
    bottom: 0;
}
.banner-heading h1{
    font-size: 31px;
}
.menu-ul{
    width: 100%;
    display: contents;
}
.nav-menu-li{
    list-style-type: none;
    display: inline;
    text-align: center;
    text-transform: uppercase;
}

.nav-menu-li button{
    border-radius: 26px;
    background: rgba(38, 163, 158, 1);
}
.banner-section{
    background: url(../images/banner-bg-mb.png) no-repeat;
    background-size: cover;
}
.banner-btn{
    background: white;
    color:  rgba(28, 93, 197, 1);
    border-radius: 50px;
    width: 233px;
}
.about-left h2{
    color:rgba(28, 93, 197, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
.border-bottom-about{
    border-bottom: 3px solid rgba(28, 93, 197, 1);
    width: 56px;
    height: 2px;
}
.btn-blue{
    border-radius: 50px;
    background: rgba(28, 93, 197, 1);
}
.about-p{
    color: rgba(64, 64, 64, 1);
    line-height: 26px;
    font-size: 17px;
}
.services-section{
    background: url(../images/rectangle-mb.png);
    background-size: 100% 100%;
}
.services-section h2{
    color:rgba(28, 93, 197, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
.service-three-col{
    border-radius: 8px;
    height: 476px;
    min-height: 476px;
    box-shadow: 0 6px 0 0 rgb(233 239 249);
}

.service-three-col img{
    border-radius: 8px 8px 0px 0px;
}
.service-three-col h6{
    color: rgba(28, 93, 197, 1);
    font-family: Proxima Nova;
}
.service-three-col p{
    color: rgba(64, 64, 64, 1);
}
.three-col button{
    background: rgba(28, 93, 197, 1);
    border-radius: 20px;
}
.partner-section h2{
    color:rgba(28, 93, 197, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}
.partner-btn{
    background: none;
    border: 1px solid rgba(28, 93, 197, 1);
    border-radius: 20px;
    color: rgba(28, 93, 197, 1);
    font-weight: 700;
}
.partnertop{
    background: url(../images/Rectangle-1.png) no-repeat center /cover;
    width: 298px;
    min-width: 298px;
}
/* .guide-carousel .owl-prev img,
    .guide-carousel .owl-next img {
       width: 22px;
       height: 22px;
} */
.carousel-section {
    background: rgba(248, 248, 248, 1);
}
.white-bg img{
    max-width: 70px;
    margin: auto;
    
}
.top-small{
    background: url(../images/top-bg-mb.png) no-repeat ;
    background-size: cover;
}
.top-big{
    background: url(../images/top-mb.png) no-repeat;
    background-size: cover;
}
.white-bg{
    background: #ffffff;
    max-width: 93px;
    border-radius: 83px;
    max-height: 93px;
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.owl-carousel .owl-item img {
    width: auto;
}
.owl-carousel .owl-nav .owl-next span{
    position: absolute;
    top: -19px;
    right: -25px;
    font-size: 71px;
    color: #8aabdf;

}
.owl-carousel .owl-nav .owl-prev span{
    position: absolute;
    top: -19px;
    left: -25px;
    font-size: 71px;
    color: #8aabdf;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: inline !important;
}
.owl-carousel .owl-dots button{
    display: none !important;
}
.carousel-section h2{
    color:rgba(28, 93, 197, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}
.sign-section{
    background: rgba(28, 93, 197, 1);
}
.sign-btn-1{
    background: white;
    border: none;
    border-radius: 20px;
    color: black;
    width: 279px;
}
.sign-btn-2{
    background: rgba(38, 163, 158, 1);
    border: none;
    border-radius: 20px;
    color: white;
    width: 279px;
}
footer{
    background: rgba(16, 57, 123, 1);
}
.iconts{
    background: white;
    color: rgba(16, 57, 123, 1);
    width: 10%;
    border-radius: 50%;
    height: 34px;
}
.iconts-2 { 
    background: white;
    width: 14%;
    border-radius: 50%;
    height: 32px;
}
.footer-news li{
    list-style: none;
}
.footer-lg {
    font-size: 14px;
    text-transform: uppercase;
}
.inp-div {
    border-radius: 50px;
}
.inp-div input{
    border-radius: 50px;
    height: 50px;
    min-height: 50px;
}
.inp-btn button{
    height: 50px;
    width: 140px;
    margin-left: -56px;
    border-radius: 26px;
    background: rgba(38, 163, 158, 1);
}

@media(min-width:768px){
    .sub-menu li{
        border-bottom: 1px solid white;
        display: none;
        list-style: none;
    }
    .footer-ul li{
        list-style: none;
    }
    .iconts {
        background: white;
        color: rgba(16, 57, 123, 1);
        width: 9%;
        border-radius: 50%;
        height: 55px;
        font-size: 27px;
    }
}
@media(max-width:667px){
    .nav-menu .re{
        display: none;
    }
    .nav-menu-li i{
        width: 100% ;
        text-align: center;
    }
    .sub-menu li{
        border-bottom: 1px solid white;
        display: none;
        list-style: none;
    }
    
    .footer-ul li{
        list-style: none;
        border-top: 1px solid white;
    }
    .nav-menu-li span{
        font-size: 14px;
    }
    .service-three-col {
        border-radius: 8px;
        height: 457px;
        min-height: 457px;
        box-shadow: 0 6px 0 0 rgb(233 239 249);
    }
}
@media(min-width:992px){
    .navbar-brand img{
        width: 160px;
    } 
    .news .sub-menu li{
        display:block;
        margin-right: 38px;
    }
    .sub-menu li {
        border-bottom: none;
        display: none;
        list-style: none;
    }
    .border-bottom-menu{
        border-bottom: 2px solid white;
        width: 38px;
        height: 2px;
    }
    .border-b-g{
        border-bottom: 1px solid white;
    }
    .banner-heading h1{
        font-size: 48px;
        font-weight: 700;
    }  
    .about-right{
        position: relative;
    }
    .about-right-img{
        /* position: absolute;
        right: -109px;
        top: -134px; */
        border-radius: 8px 0 0 8px;
        /* height: 325px;
        width: 503px; */
    }
    .banner-section{
        background: url(../images/banner.png) no-repeat;
        background-size: cover;
    }
    .services-section{
        background: url(../images/rectangle.png);
        background-size: 100% 100%;
    }
    
    .bannerr-carousell .owl-prev,
    .bannerr-carousell .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 50px !important;
      background: #f4f4f4 !important;
    }
    .top-small-lg{
        background: url(../images/top-bg.png);
    }
    .white-bg{
        background: #ffffff;
        max-width: 140px;
        border-radius: 83px;
        max-height: 140px;
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .white-bg img{
        max-width: 100px;
        margin: auto;
        
    }
    .owl-carousel .owl-item img {
        width: auto;
    }
    .owl-carousel .owl-nav .owl-next span{
        position: absolute;
        top: 5px;
        right: -35px;
        font-size: 71px;
        color: #8aabdf;
    }
    .owl-carousel .owl-nav .owl-prev span{
        position: absolute;
        top: 5px;
        left: -35px;
        font-size: 71px;
        color: #8aabdf;
    }
    .footer-news li{
        list-style: none;
    }
}
/* .header-search-wrapper {
    float: right;
    position: relative;
}

.search-main {
    display: block;
    line-height: 40px;
    padding: 0 14px;
    cursor: pointer;
}

.header-search-wrapper .search-form-main {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    padding: 13px 13px 0 16px;
    position: absolute;
    top: 124%;
    width: 1349px;
    right: -293px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.search-form-main.active-search {
    opacity: 1;
    visibility: visible;
}

.header-search-wrapper .search-form-main {
    border-top-color: #fe4902 !important;
    background: rgba(16, 57, 123, 1);
}

.header-search-wrapper .search-form-main:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: 15px;
    top: -10px;
}

.header-search-wrapper .search-form-main:before {
    /* border-bottom-color: #fe4902 !important; */
/* }

.header-search-wrapper .search-form-main .search-field {
    border-radius: 10px 0px 0px 10px;
    padding: 4px 10px;
    width: 84%;
    border: none;
    background: rgba(16, 57, 123, 1);
    float: left;
}
.search-form-main .search-submit {
    border-radius: 0px 10px 10px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    margin-left: -5px;
    float: left;
    width: 18%;
    height: 32px;
} */
.search-section{
    background: rgba(16, 57, 123, 1);
    z-index: 999;
    margin-top: -2px;
}
.search-section input {
    background: none;
    border: none;
    color: white;
}
::placeholder{
    color: white;
    font-size: 17px;
}
.border-bottom{
    border-bottom: 1px solid white;
}